@using HamburgerMVC.SERVICE.Models.VMs;
@model List<HamburgerMVC.SERVICE.Models.VMs.MenuGetAllVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}


<div class="baneer-w3ls">
    <div class="row no-gutters">
        <div class="col-xl-5 col-lg-6">
            <div class="banner-left-w3">
                <div class="container">
                    <div class="banner-info_agile_w3ls">
                        <h5>Sıcacık Lezzetli Hamburger</h5>
                        <h3 class="text-da mb-4">Alevli <span>Izgara Burger</span> </h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium
                        </p>
                        <a href="about.html" class="button-w3ls active mt-5">
                            İçeriğini Gör
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                        <a href="menu.html" class="button-w3ls mt-5 ml-2">
                            Sipariş Ver
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 callbacks_container">
            <!-- banner slider -->
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <ul class="banner_slide_bg">
                    <li>
                        <div class="banner-top1"></div>
                    </li>
                    <li>
                        <div class="banner-top2"></div>
                    </li>
                    <li>
                        <div class="banner-top3"></div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                </div>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                    </div>
                </div>
            </div>
            <!-- //banner slider -->
        </div>
    </div>
</div>

<div class="clearfix"></div>

<!-- about -->
<div class="about-bottom">
    <div class="row no-gutters">
        <div class="col-lg-5 col-md-6 about">
        </div>
        <div class="col-lg-7 col-md-6 about-right-w3 text-right py-md-5">
            <div class="right-space py-xl-5 py-lg-3">
                <div class="title-section mb-4">
                    <p class="w3ls-title-sub">Hakkımızda</p>
                    <h3 class="w3ls-title">Leziz Burgerlere <span>Hoşgeldiniz</span></h3>
                </div>
                <p class="about-text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto
                    beatae vitae dicta
                    sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit.
                </p>
                <a href="about.html" class="button-w3ls mt-5">
                    Daha Fazla
                    <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- specials -->
<section class="blog_w3ls py-5 p-4">
    <div class="title-section text-center mb-md-5 mb-4">
        <p class="w3ls-title-sub">Lezzetler</p>
        <h3 class="w3ls-title">En Çok <span>Tercih Edilenler</span></h3>
    </div>
   
        <div class="swiper mySwiper">
    
            <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="card border-0 med-blog" style="border-radius:30px">
                        <div class="card-header p-0">
                           

                        </div>
                       
                            <img src="~/img/hamburgerPhoto/@item.ImagePath" class="menu-image" alt="Hamburger Image" style=" min-width: 300px; min-height: 300px; max-height:301px;  display: block; margin: 0 auto;">
                       
                        <div class="card-body border border-top-0">
                            <h5 class="blog-title card-title m-0"><a href="menu.html">@item.Name</a></h5>
                            <p class="mt-3">@item.Description</p>
                            <div class="text-center">
                                <!-- Ortalamak için text-center sınıfını kullanıyoruz -->
                                <a  asp-route-id="@item.ID" asp-controller="Home" asp-action="GetMenuForName" class="btn button-w3ls mt-4 mb-3">
                                    <span style="font-weight:900"> Hemen Sipariş Ver</span>
                                    <i class="bi bi-cart-check" style="font-size:20px "></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            }
            </div>


            <div class="swiper-pagination"></div>
        </div>
 
</section>


<!-- //specials -->
<!-- two grids -->
<section class="offer pt-lg-3">
    <div class="row no-gutters">
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3" style="text-color:red"><a style="text-color:red" href="menu.html">Daha Fazla Lezzet İçin</a></h4>
                    <p class="text-li mt-3" style="text-color:red">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
                        ut perspiciatis
                        unde omnis iste natus error.
                    </p>
                    <a href="menu.html" class="button-w3ls active mt-5">
                        Sipariş Ver
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3 blog-sec-w3-2">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="menu.html">Diğer Le</a></h4>
                    <p class="text-li">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
                        ut perspiciatis
                        unde omnis iste natus error.
                    </p>
                    <a href="menu.html" class="button-w3ls active mt-5">
                        Order Now
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //two grids -->
<!-- services -->
<section class="middle py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">İşimiz</p>
            <h3 class="w3ls-title mb-3">Mükemmel <span>Lezzet Deneyimi</span></h3>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right">
                        <h4 class="mb-3"><a href="login.html">Ücretsiz Teslimat</a></h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="images/s1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 w3pvt-lauits_banner_bottom_left">
            </div>
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="images/s2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right">
                        <h4 class="mb-3"><a href="login.html">Beğenmezsen Geri Gönder</a></h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
                        <h4 class="mb-3"><a href="login.html">Online Sipariş</a></h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
                        <img src="images/s3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
                        <img src="images/s4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
                        <h4 class="mb-3"><a href="login.html">24/7 Destek</a></h4>
                        <p>Morbi viverra lacus commodo felis semper lectus feugiat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-blog-2">
        <img src="images/img.png" alt="" class="img-fluid">
    </div>
</section>
<!-- //services -->
<!-- blog -->
<section class="blog_w3ls py-5" id="blog">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Sizden Gelenler</p>
            <h3 class="w3ls-title mb-3">Son Gelen <span>Yorumlar</span></h3>
            <p class="titile-para-text mx-auto">
                Inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.Nemo
                enim totam rem aperiam.
            </p>
        </div>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="single.html">
                            <img src="images/blog1.png" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="images/te1.jpg" alt="" class="img-blog rounded-circle img-fluid">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="single.html">Alice Palmer</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>
                                Magna Kictum - Nov 12
                            </span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="button-w3ls mt-4">
                            Dahası için
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="single.html">
                            <img src="images/blog2.png" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="images/te1.jpg" alt="" class="img-blog rounded-circle img-fluid">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="single.html">Alice Palmer</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>
                                Magna Kictum - Nov 12
                            </span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="button-w3ls mt-4">
                            Dahası için
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="single.html">
                            <img src="images/blog3.png" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="images/te3.jpg" alt="" class="img-blog rounded-circle img-fluid">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="single.html">Natus error sit</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>
                                Dictum Orta - Nov 20
                            </span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="button-w3ls mt-4">
                            Read More
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //blog -->
<!-- slides images -->
<section class="wthree-slider" id="masthead">
</section>
<!-- //slides images -->
<!-- newsletter -->
<section class="subscribe-main py-5">
    <div class="container py-xl-5 py-3">
        <div class="row pb-lg-4 pt-lg-5">
            <div class="col-lg-6 col-md-9 text-center">
                <h3 class="w3ls-title mb-2">Yeniliklerden İlk ÖNce Haberdar Olmak için Mailinizi Kaydedin</h3>
                <p class="mb-xl-5 mb-4">İlk Siparişinizin Bizden Olsun</p>
                <form action="#" method="post" class="d-flex newsletter-info">
                    <input type="email" name="email" placeholder="Mail Adresi Giriniz" required="">
                    <button type="submit">Kaydet</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-3">
            </div>
        </div>
        <img src="images/sub.png" alt="" class="img-fluid sub-img">
    </div>
</section>


<div class="clearfix"></div>