@{
    ViewData["Title"] = "SepetListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container " >
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Adet</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Detay</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Hamburger</td>
                        <td>1</td>
                        <td>123</td>
                        <td><i class="bi  text-primary bi-search"></i></td>
                        <td><i class="bi text-danger bi-trash-fill"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col mb-5 mt-5">
            <div class="card float-right" style="width: 18rem;">
                <div class="card-body">
                    <p>Toplam 120₺</p>
                    <a href="#" class="btn fw-bold btn-primary">Siparişi Tamamla</a>
                </div>
            </div>
        </div>
    </div>
</div>

    
  

    
